@import '../styles/variables.scss';

.home {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;

  .container {
    display: flex;

    p{
      padding: 1em;
      margin: 1em;
      color: white;
      background-color: $medium;
      cursor: pointer;
    }
  }
}