@import '../styles/variables.scss';

.marketer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

  &__sidenav {
    width: 250px;
    background-color: $medium;
    padding: 16px;

    ul {
      margin-top: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 0.5em;
        padding: 0.25em;
        background-color: $dark;
        color: white;

        p {
          margin: 1px;
        }

        p:last-of-type {
          font-size: 0.7em;
        }
      }
    }
  }

  &__mainContent {
    flex: auto;
    background-color: $light;
    padding: 16px;

    .map {
      height: 100%;
      width: 100%;
      background-color: $extra-light;
    }
  }
}