@import '../styles/variables.scss';

.marketer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

  &__sidenav {
    width: 250px;
    background-color: $medium;
    padding: 16px;

    ul {
      margin-top: 16px;
      padding: 0;
      list-style: none;
    }
  }

  &__mainContent {
    flex: auto;
    background-color: $light;
    padding: 16px;

    .map {
      height: 100%;
      width: 100%;
      background-color: $extra-light;
    }
  }
}